.company_drop_down {
  filter: drop-shadow(-25px 0px 10px rgba(0, 0, 0, 0.25));
}

.button_bottom_class {
  clip-path: polygon(3% 0, 100% 0%, 100% 100%, 0% 100%);
}
.right_bottom_class {
  clip-path: polygon(0% 0, 100% 0%, 90% 100%, 0% 100%);
}

.main_mobile_toggle_menu {
  @media (min-width: 1024px) {
    height: auto;
    clip-path: none;
  }
  transition: 0.3s;
  height: calc(100vh - 94px);
  clip-path: circle(0 at 100% 0);
  > ul {
    @media (min-width: 1024px) {
      opacity: 1;
    }
    transition: 0.3s;
    transition-delay: 0.3s;
    opacity: 0;
  }
  > div {
    @media (min-width: 1024px) {
      opacity: 1;
    }
    transition: 0.3s;
    transition-delay: 0.5s;
    opacity: 0;
  }
}

.mobile_toggle_menu_active {
  clip-path: circle(100%);

  > ul {
    opacity: 1;
  }
  > div {
    opacity: 1;
  }
}
